{% extends "base.html" %}

{% block base %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Carnet Fanfare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'scores:list' %}">Morceaux</a>
                </li>
                {% if perms.scores.add_score %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scores:add' %}">Ajouter</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{user}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">admin</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Se déconnecter</button>
                            </form>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
    </div>
</nav>
{% block content %}

{% endblock content %}
{% endblock base %}